.card {
  padding: 10px;
  border-radius: 22px;
  border: 2px solid #5c5656;
  transition: all 50ms ease-in-out;
}
.card:hover {
  box-shadow: 1px 1px 6px #5c5656;
}
.card .title {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .text {
  text-align: right;
  font-size: 16px;
  margin-bottom: 5px;
}
.card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.input-group {
  position: relative;
}
.input-group .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.input-group .input-field {
  margin: 60px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  width: 50%;
  border: 2px solid #000;
  border-radius: 22px;
  text-align: right;
}
.jumbotron {
  padding-top: 60px;
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  overflow: hidden;
}
.jumbotron .image-jumbo {
  width: 100%;
  object-fit: cover;
}
.report-section {
  width: 100%;
  justify-content: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.container {
  width: 80%;
  margin: auto;
}

.test {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #401801;
}
.nav .navContent {
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
}
.nav .link-button {
  width: 120px;
  height: 60px;
  background-color: black;
}
.nav .links {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #554132;
  height: 200px;
  width: 100%;
}
.nav .open {
  display: block;
}